@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Accounts)]

<h1>@_t.PageTitle</h1>

<div class="row">
    <div class="col-lg-6 order-lg-2">
        @if (_create != null)
        {
            <legend>@_t.AddTitle</legend>
            <form @onsubmit=SaveCreateClicked>
                <TextBox For=@nameof(AccountCreateModel.Name) Label=@_t.AccountName @bind-Value=_create.Name Errors=_errors Required AutoFocus />
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(AccountCreateModel.IssuerId) Label=@_t.AccountIssuer
                            @bind-Value=_create.IssuerId Errors=_errors Required Items=_issuersD />
                        <Dropdown For=@nameof(AccountCreateModel.CurrencyId) Label=@_t.AccountCurrency
                            @bind-Value=_create.CurrencyId Errors=_errors Required Items=_currenciesD />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(AccountCreateModel.Info) Label=@_t.AccountInfo @bind-Value=_create.Info
                            Errors=_errors Lines=4 Required />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">@_t.Save</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else if (_edit != null)
        {
            <legend>@_t.EditTitle @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(AccountEditModel.Name) Label=@_t.AccountName @bind-Value=_edit.Name Errors=_errors Required AutoFocus />
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(AccountEditModel.IssuerId) Label=@_t.AccountIssuer
                            @bind-Value=_edit.IssuerId Errors=_errors Required Items=_issuersD />
                        <Dropdown For=@nameof(AccountEditModel.CurrencyId) Label=@_t.AccountCurrency
                            @bind-Value=_edit.CurrencyId Errors=_errors Required Items=_currenciesD />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(AccountEditModel.Info) Label=@_t.AccountInfo @bind-Value=_edit.Info
                            Errors=_errors Lines=4 Required />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">@_t.Save</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">@_t.Info</div>
        }
    </div>

    <div class="col-lg-6 order-lg-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@_t.AccountName</th>
                        <th>@_t.AccountInfo</th>
                        <th>@_t.AccountCurrency</th>
                        <th>
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>@_t.Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in _list)
                    {
                        <tr @key=account.Id>
                            <td class="user-select-all">@account.Name</td>
                            <td class="user-select-all">@account.Info</td>
                            <td class="user-select-all">@account.Currency?.Tag</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(account)">@_t.Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>