@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Clients)]

<h1>Clients</h1>

<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact Info</th>
                        <th>Contract</th>
                        <th>Rate</th>
                        <th>Default Note</th>
                        <th>
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Client in _list)
                    {
                        <tr @key=Client.Id>
                            <td>@Client.Name</td>
                            <td>@Client.ContactInfo</td>
                            <td>@Client.ContractCurrency?.Tag</td>
                            <td>@Client.ContractRate</td>
                            <td>@Client.DefaultInvoiceNote</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(Client)">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        @if (_create != null)
        {
            <legend>Add Client</legend>
            <form @onsubmit=SaveCreateClicked>
                <TextBox For=@nameof(ClientCreateModel.Name) Label=Name @bind-Value=_create.Name Errors=_errors
                    Required />
                <TextBox For=@nameof(ClientCreateModel.ContactInfo) Label="Contact Info" @bind-Value=_create.ContactInfo Errors=_errors Lines=3 Required/>
                <Dropdown For=@nameof(ClientCreateModel.ContractCurrencyId) Label="Contract Currency" @bind-Value=_create.ContractCurrencyId Errors=_errors
                    Required Items=_currenciesD />
                <Dropdown For=@nameof(ClientCreateModel.DisplayCurrencyId) Label=Client @bind-Value=_create.DisplayCurrencyId Errors=_errors
                    Required Items=_currenciesD />
                <NumBox For=@nameof(ClientCreateModel.ContractRate) Label=Rate @bind-Value=_create.ContractRate Errors=_errors
                    Required />
                <TextBox For=@nameof(ClientCreateModel.DefaultInvoiceNote) Label="Default invoice note" @bind-Value=_create.DefaultInvoiceNote Errors=_errors Lines=3 />

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else if(_edit!=null)
        {
            <legend>Edit @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(ClientEditModel.Name) Label=Name @bind-Value=_edit.Name Errors=_errors
                    Required />
                <TextBox For=@nameof(ClientEditModel.ContactInfo) Label="Contact Info" @bind-Value=_edit.ContactInfo Errors=_errors Lines=3 Required/>
                <Dropdown For=@nameof(ClientEditModel.ContractCurrencyId) Label="Contract Currency" @bind-Value=_edit.ContractCurrencyId Errors=_errors
                    Required Items=_currenciesD />
                <NumBox For=@nameof(ClientEditModel.ContractRate) Label=Rate @bind-Value=_edit.ContractRate Errors=_errors
                    Required />
                <Dropdown For=@nameof(ClientEditModel.DisplayCurrencyId) Label=Client @bind-Value=_edit.DisplayCurrencyId Errors=_errors
                    Required Items=_currenciesD />
                <TextBox For=@nameof(ClientEditModel.DefaultInvoiceNote) Label="Default invoice note" @bind-Value=_edit.DefaultInvoiceNote Errors=_errors Lines=3 />

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">Select Client to edit or add.</div>
        }
    </div>
</div>