@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Clients)]

<h1>@_t.PageTitle</h1>

<div class="row">
    <div class="col-lg-6 order-lg-2">
        @if (_create != null)
        {
            <legend>@_t.AddTitle</legend>
            <form @onsubmit=SaveCreateClicked>
                <TextBox For=@nameof(ClientCreateModel.Name) Label=@_t.ClientName @bind-Value=_create.Name Errors=_errors Required AutoFocus />
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.ContactInfo) Label=@_t.ClientContactInfo @bind-Value=_create.ContactInfo 
                            placeholder="Name, address, VAT ID" Errors=_errors Lines=3 Required/>
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.DefaultInvoiceNote) Label=@_t.ClientNote @bind-Value=_create.DefaultInvoiceNote 
                            placeholder="Converted via bank rates" Errors=_errors Lines=3 />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(ClientCreateModel.DisplayCurrencyId) Label=@_t.ClientDisplay @bind-Value=_create.DisplayCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientCreateModel.ContractRate) Label=@_t.ClientRate @bind-Value=_create.ContractRate Errors=_errors
                            Required />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(ClientCreateModel.ContractCurrencyId) Label=@_t.ClientContract @bind-Value=_create.ContractCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientCreateModel.DueInDays) Label=@_t.ClientDueDate @bind-Value=_create.DueInDays Errors=_errors Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.TimeZone) Label=@_t.ClientTimeZone @bind-Value=_create.TimeZone PlaceHolder="America/Chicago" Errors=_errors Required />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.Locale) Label=@_t.ClientLocale @bind-Value=_create.Locale PlaceHolder="en-US" Errors=_errors Required />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">@_t.Save</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else if(_edit != null)
        {
            <legend>@_t.EditTitle @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(ClientEditModel.Name) Label=@_t.ClientName @bind-Value=_edit.Name Errors=_errors Required AutoFocus />
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.ContactInfo) Label=@_t.ClientContactInfo @bind-Value=_edit.ContactInfo 
                            placeholder="Name, address, VAT ID" Errors=_errors Lines=3 Required/>
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.DefaultInvoiceNote) Label=@_t.ClientNote @bind-Value=_edit.DefaultInvoiceNote
                            placeholder="Converted via bank rates" Errors=_errors Lines=3 />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(ClientEditModel.DisplayCurrencyId) Label=@_t.ClientDisplay @bind-Value=_edit.DisplayCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientEditModel.ContractRate) Label=@_t.ClientRate @bind-Value=_edit.ContractRate Errors=_errors
                            Required />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(ClientEditModel.ContractCurrencyId) Label=@_t.ClientContract @bind-Value=_edit.ContractCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientEditModel.DueInDays) Label=@_t.ClientDueDate @bind-Value=_edit.DueInDays Errors=_errors Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.TimeZone) Label=@_t.ClientTimeZone @bind-Value=_edit.TimeZone PlaceHolder="America/Chicago" Errors=_errors Required />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.Locale) Label=@_t.ClientLocale @bind-Value=_edit.Locale PlaceHolder="en-US" Errors=_errors Required />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">@_t.Info</div>
        }
    </div>

    <div class="col-lg-6 order-lg-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@_t.TableName</th>
                        <th>@_t.TableContactInfo</th>
                        <th>@_t.TableContract</th>
                        <th>@_t.TableRate</th>
                        <th>@_t.TableNote</th>
                        <th>
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>@_t.Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in _list)
                    {
                        <tr @key=client.Id>
                            <td class="user-select-all">@client.Name</td>
                            <td class="user-select-all">@client.ContactInfo</td>
                            <td class="user-select-all">@client.ContractCurrency?.Tag</td>
                            <td class="user-select-all">@client.Formats.Display(client.ContractRate)</td>
                            <td class="user-select-all">@client.DefaultInvoiceNote</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(client)">@_t.Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>