@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Clients)]

<h1>Clients</h1>

<div class="row">
    <div class="col-lg-6 order-lg-2">
        @if (_create != null)
        {
            <legend>Add Client</legend>
            <form @onsubmit=SaveCreateClicked>
                <TextBox For=@nameof(ClientCreateModel.Name) Label=Name @bind-Value=_create.Name Errors=_errors Required AutoFocus />
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.ContactInfo) Label="Contact Info" @bind-Value=_create.ContactInfo 
                            placeholder="Name, address, VAT ID" Errors=_errors Lines=3 Required/>
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.DefaultInvoiceNote) Label="Default invoice note" @bind-Value=_create.DefaultInvoiceNote 
                            placeholder="Converted via bank rates" Errors=_errors Lines=3 />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(ClientCreateModel.DisplayCurrencyId) Label="Display Currency" @bind-Value=_create.DisplayCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientCreateModel.ContractRate) Label="Contract Rate" @bind-Value=_create.ContractRate Errors=_errors
                            Required />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(ClientCreateModel.ContractCurrencyId) Label="Contract Currency" @bind-Value=_create.ContractCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientCreateModel.DueInDays) Label="Due in days" @bind-Value=_create.DueInDays Errors=_errors Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.TimeZone) Label="Time Zone" @bind-Value=_create.TimeZone PlaceHolder="America/Chicago" Errors=_errors Required />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientCreateModel.Locale) Label="Locale" @bind-Value=_create.Locale PlaceHolder="en-US" Errors=_errors Required />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else if(_edit != null)
        {
            <legend>Edit @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(ClientEditModel.Name) Label=Name @bind-Value=_edit.Name Errors=_errors Required AutoFocus />
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.ContactInfo) Label="Contact Info" @bind-Value=_edit.ContactInfo 
                            placeholder="Name, address, VAT ID" Errors=_errors Lines=3 Required/>
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.DefaultInvoiceNote) Label="Default invoice note" @bind-Value=_edit.DefaultInvoiceNote
                            placeholder="Converted via bank rates" Errors=_errors Lines=3 />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(ClientEditModel.DisplayCurrencyId) Label="Display Currency" @bind-Value=_edit.DisplayCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientEditModel.ContractRate) Label="Contract Rate" @bind-Value=_edit.ContractRate Errors=_errors
                            Required />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(ClientEditModel.ContractCurrencyId) Label="Contract Currency" @bind-Value=_edit.ContractCurrencyId Errors=_errors
                            Required Items=_currenciesD />
                        <NumBox For=@nameof(ClientEditModel.DueInDays) Label="Due in days" @bind-Value=_edit.DueInDays Errors=_errors Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.TimeZone) Label="Time Zone" @bind-Value=_edit.TimeZone PlaceHolder="America/Chicago" Errors=_errors Required />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(ClientEditModel.Locale) Label="Locale" @bind-Value=_edit.Locale PlaceHolder="en-US" Errors=_errors Required />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">Select Client to edit or add.</div>
        }
    </div>

    <div class="col-lg-6 order-lg-1">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact Info</th>
                        <th>Contract</th>
                        <th>Rate</th>
                        <th>Default Note</th>
                        <th>
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Client in _list)
                    {
                        <tr @key=Client.Id>
                            <td class="user-select-all">@Client.Name</td>
                            <td class="user-select-all">@Client.ContactInfo</td>
                            <td class="user-select-all">@Client.ContractCurrency?.Tag</td>
                            <td class="user-select-all">@Client.Display(Client.ContractRate)</td>
                            <td class="user-select-all">@Client.DefaultInvoiceNote</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(Client)">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>