@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Root)]

<div class="d-flex align-items-center justify-content-between mt-3">
    <h1>@_t.Title</h1>
    <QueryStepper QueryPart=@QUERY_YEAR DefaultValue=_defaultYear OnChange=ChangeYear AutoFocus />
</div>

@foreach (var issuerPair in _issuers.Where(i => _issuerDashboards.ContainsKey(i.Key)))
{
    var issuer = issuerPair.Value;
    <h4 class="mt-3">@issuerPair.Value.Name</h4>
    <div class="row">
    @if (_issuerDashboards.ContainsKey(issuerPair.Key))
        {
            var dashboard = _issuerDashboards[issuerPair.Key];
            <div class="mb-3 col-md-6 col-lg-4">
                <div class="card text-white bg-success h-100 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">@_t.TotalIncome</h5>
                    </div>
                    <div class="card-body text-center p-0">
                        <table class="table table-sm table-borderless text-white mb-0">
                            <tbody>
                                @foreach (var category in dashboard.IncomeCategories)
                                {
                                    <tr>
                                        <td class="text-start">@category.Key</td>
                                        <td class="text-end">@issuer.Formats.Display(category.Value) @issuer.Currency?.Tag</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="m-0">@issuer.Formats.Display(dashboard.IncomePercentage)%</h3>
                            <h3 class="m-0">@issuer.Formats.Display(dashboard.Income) @issuer.Currency?.Tag</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-6 col-lg-4">
                <div class="card text-white bg-danger h-100 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">@_t.TotalExpenses</h5>
                    </div>
                    <div class="card-body text-center p-0">
                        <table class="table table-sm table-borderless text-white mb-0">
                            <tbody>
                                @foreach (var category in dashboard.ExpenseCategories)
                                {
                                    <tr>
                                        <td class="text-start">@category.Key</td>
                                        <td class="text-end">@issuer.Formats.Display(category.Value) @issuer.Currency?.Tag</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="m-0">@issuer.Formats.Display(dashboard.ExpensePercentage)%</h3>
                            <h3 class="m-0">@issuer.Formats.Display(dashboard.Expense) @issuer.Currency?.Tag</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
                <div class="card h-100 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">@_t.Summary</h5>
                    </div>
                    <div class="card-body text-center p-0">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td class="text-start">@_t.Issued</td>
                                    <td class="text-end">@issuer.Formats.Display(dashboard.Issued) @issuer.Currency?.Tag</td>
                                </tr>
                                <tr>
                                    <td class="text-start">@_t.Income</td>
                                    <td class="text-end">@issuer.Formats.Display(dashboard.Income) @issuer.Currency?.Tag</td>
                                </tr>
                                <tr>
                                    <td class="text-start">@_t.Limit</td>
                                    <td class="text-end">
                                        @if(issuer.Limit.HasValue)
                                        {
                                            <text>@issuer.Formats.Display(issuer.Limit ?? 0) @issuer.Currency?.Tag</text>
                                        }
                                        else { <text>@_t.NoLimit</text> }
                                    </td>
                                </tr>
                                @{
                                    var tillLimit = 0M;
                                    if(issuer.Limit.HasValue)
                                        tillLimit = issuer.Limit.Value - dashboard.Income;

                                    var color = tillLimit < 0 ? "table-danger" : string.Empty;
                                }
                                <tr class=@color>
                                    <td class="text-start">@_t.TillLimit</td>
                                    <td class="text-end">@issuer.Formats.Display(tillLimit) @issuer.Currency?.Tag</td>
                                </tr>
                                <tr>
                                    <td class="text-start">@_t.Level @dashboard.CurrentLevel</td>
                                    <td class="text-end">@_t.NextLevelIn @issuer.Formats.Display(dashboard.TillNextLevel) @issuer.Currency?.Tag</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="m-0">@_t.Profit</h3>
                            <h3 class="m-0">@issuer.Formats.Display(dashboard.Income + dashboard.Expense) @issuer.Currency?.Tag</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}