@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Root)]

<div class="d-flex align-items-center justify-content-between mt-3">
    <h1>Hello, world!</h1>
    <QueryStepper QueryPart=@QUERY_YEAR DefaultValue=_defaultYear OnChange=ChangeYear />
</div>

@foreach (var issuer in _issuers.Where(i => _issuerDashboards.ContainsKey(i.Key)))
{
    <h4 class="mt-3">@issuer.Value.Name</h4>
    <div class="row">
    @if (_issuerDashboards.ContainsKey(issuer.Key))
        {
            var dashboard = _issuerDashboards[issuer.Key];
            <div class="col">
                <div class="card text-white bg-success h-100 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Total Income</h5>
                    </div>
                    <div class="card-body text-center p-0">
                        <table class="table table-sm table-borderless text-white mb-0">
                            <tbody>
                                @foreach (var category in dashboard.IncomeCategories)
                                {
                                    <tr>
                                        <td class="text-start">@category.Key</td>
                                        <td class="text-end">@issuer.Value.Display(category.Value) @issuer.Value.Currency?.Tag</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-end">
                        <h3 class="m-0">@issuer.Value.Display(dashboard.Income) @issuer.Value.Currency?.Tag</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-danger h-100 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Total Expenses</h5>
                    </div>
                    <div class="card-body text-center p-0">
                        <table class="table table-sm table-borderless text-white mb-0">
                            <tbody>
                                @foreach (var category in dashboard.ExpenseCategories)
                                {
                                    <tr>
                                        <td class="text-start">@category.Key</td>
                                        <td class="text-end">@issuer.Value.Display(category.Value) @issuer.Value.Currency?.Tag</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-end">
                        <h3 class="m-0">@issuer.Value.Display(dashboard.Expense) @issuer.Value.Currency?.Tag</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Summary</h5>
                    </div>
                    <div class="card-body text-center p-0">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td class="text-start">Issued</td>
                                    <td class="text-end">@issuer.Value.Display(dashboard.Issued) @issuer.Value.Currency?.Tag</td>
                                </tr>
                                <tr>
                                    <td class="text-start">Income</td>
                                    <td class="text-end">@issuer.Value.Display(dashboard.Income) @issuer.Value.Currency?.Tag</td>
                                </tr>
                                <tr>
                                    <td class="text-start">Limit</td>
                                    <td class="text-end">
                                        @if(issuer.Value.Limit.HasValue)
                                        {
                                            <text>@issuer.Value.Display(issuer.Value.Limit ?? 0) @issuer.Value.Currency?.Tag</text>
                                        }
                                        else { <text>No</text> }
                                    </td>
                                </tr>
                                @{
                                    var tillLimit = 0M;
                                    if(issuer.Value.Limit.HasValue)
                                        tillLimit = issuer.Value.Limit.Value - dashboard.Income;

                                    var color = tillLimit < 0 ? "table-danger" : string.Empty;
                                }
                                <tr class=@color>
                                    <td class="text-start">Till limit</td>
                                    <td class="text-end">@issuer.Value.Display(tillLimit) @issuer.Value.Currency?.Tag</td>
                                </tr>
                                <tr>
                                    <td class="text-start">Level @dashboard.CurrentLevel</td>
                                    <td class="text-end">Next in @issuer.Value.Display(dashboard.TillNextLevel) @issuer.Value.Currency?.Tag</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="m-0">Profit</h3>
                            <h3 class="m-0">@issuer.Value.Display(dashboard.Income + dashboard.Expense) @issuer.Value.Currency?.Tag</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}