@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Invoices)]

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>Invoices</h1>
    <div>
        <QueryStepper @ref=StepperYear QueryPart=@QUERY_YEAR DefaultValue=_defaultYear OnChange=ChangeYear />
        <QueryStepper InactiveText="Month" QueryPart=@QUERY_MONTH DefaultValue=_defaultMonth OnChange=ChangeMonth Min=1 Max=12 Overflow OnOverflow=YearOverflow AutoFocus />
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Issuer</th>
                <th>#</th>
                <th>Client</th>
                <th>Subject</th>
                <th>Total</th>
                <th>Published</th>
                <th>Status</th>
                <th>
                    <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in _list)
            {
                var row = invoice.Status == Enums.InvoiceStatus.Paid ? "table-success" : invoice.Status == Enums.InvoiceStatus.Issued ? "table-warning" : "";
                <tr @key=invoice.Id class=@row>
                    <td class="user-select-all">@invoice.Issuer?.Name</td>
                    <td class="user-select-all">@invoice.SequenceNumber</td>
                    <td class="user-select-all">@invoice.Client?.Name</td>
                    <td class="user-select-all">@invoice.Subject</td>
                    <td class="user-select-all">
                        @invoice.Issuer?.Formats.Display(invoice.Total) @invoice.Currency?.Tag <br />
                        @if (invoice.DisplayCurrencyId != invoice.CurrencyId)
                        {
                            <small>@invoice.Issuer?.Formats.Display(invoice.DisplayTotal)&nbsp;(@invoice.Issuer?.Formats.Display(invoice.DisplayRate, 2))&nbsp;@invoice.DisplayCurrency?.Tag <br /></small>
                        }
                        @if (invoice.IssuerCurrencyId != invoice.DisplayCurrencyId)
                        {
                            <small>@invoice.Issuer?.Formats.Display(invoice.IssuerTotal)&nbsp;(@invoice.Issuer?.Formats.Display(invoice.IssuerRate, 2))&nbsp;@invoice.IssuerCurrency?.Tag</small>
                        }
                    </td>
                    <td class="user-select-all">@invoice.Issuer?.Formats.Display(invoice.Published)</td>
                    <td class="user-select-all">@invoice.Status</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" href="@C.Routes.InvoiceFor(invoice.Id)">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (_create != null)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show" style="display: block;" @onclick="CancelClicked">
        <div class="modal-dialog" @onclick:stopPropagation>
            <form @onsubmit=SaveClicked>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new invoice</h5>
                        <button type="button" class="btn-close" @onclick="CancelClicked"></button>
                    </div>
                    <div class="modal-body">
                        <Dropdown For=@nameof(InvoiceCreateModel.IssuerId) Label=Issuer @bind-Value=_create.IssuerId Errors=_errors
                            Required Items=_issuersD AutoFocus />
                        <Dropdown For=@nameof(InvoiceCreateModel.ClientId) Label=Client @bind-Value=_create.ClientId Errors=_errors
                            Required Items=_clientsD />
                        <TextBox For=@nameof(InvoiceCreateModel.Subject) Label=Subject @bind-Value=_create.Subject Errors=_errors
                            Required />
                        <TextBox For=@nameof(InvoiceCreateModel.SequenceNumber) Label=Sequence @bind-Value=_create.SequenceNumber Errors=_errors 
                            Required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}