@using QueryParams
@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Invoices)]

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>@_t.PageTitle</h1>
    <div>
        <QuerySearch AutoFocus OnChange=Search />
        <QueryStepper @ref=StepperYear QueryPart=@QUERY_YEAR DefaultValue=_defaultYear OnChange=ChangeYear />
        <QueryStepper InactiveText=@_t.Month QueryPart=@QUERY_MONTH DefaultValue=_defaultMonth OnChange=ChangeMonth
            Min=1 Max=12 Overflow OnOverflow=YearOverflow AutoFocus />
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <Orderable Column=@InvoiceCol.Issuer Display=@_t.TableIssuer Params=_params OnChange=RefreshList />
                <th>@_t.TableNo</th>
                <Orderable Column=@InvoiceCol.Client Display=@_t.TableClient Params=_params OnChange=RefreshList />
                <Orderable Column=@InvoiceCol.Subject Display=@_t.TableSubject Params=_params OnChange=RefreshList />
                <Orderable Column=@InvoiceCol.Total Display=@_t.TableTotal Params=_params OnChange=RefreshList />
                <Orderable Column=@InvoiceCol.Published Display=@_t.TablePublished Params=_params OnChange=RefreshList />
                <Orderable Column=@InvoiceCol.Status Display=@_t.TableStatus Params=_params OnChange=RefreshList />
                <th class="text-end">
                    <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>@_t.Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in _list)
            {
                var row = invoice.Status == Enums.InvoiceStatus.Paid ? "table-success" : invoice.Status ==
                Enums.InvoiceStatus.Issued ? "table-warning" : "";
                <tr @key=invoice.Id class=@row>
                    <td class="user-select-all">@invoice.Issuer?.Name</td>
                    <td class="user-select-all">@invoice.SequenceNumber</td>
                    <td class="user-select-all">@invoice.Client?.Name</td>
                    <td class="user-select-all">@invoice.Subject</td>
                    <td>
                        <span class="user-select-all">@invoice.Issuer?.Formats.Display(invoice.Total) @invoice.Currency?.Tag</span> <br />
                        @if (invoice.DisplayCurrencyId != invoice.CurrencyId)
                        {
                            <small class="user-select-all">@invoice.Issuer?.Formats.Display(invoice.DisplayTotal)&nbsp;(@invoice.Issuer?.Formats.Display(invoice.DisplayRate,
                        2))&nbsp;@invoice.DisplayCurrency?.Tag <br /></small>
                        }
                        @if (invoice.IssuerCurrencyId != invoice.DisplayCurrencyId)
                        {
                            <small class="user-select-all">@invoice.Issuer?.Formats.Display(invoice.IssuerTotal)&nbsp;(@invoice.Issuer?.Formats.Display(invoice.IssuerRate,
                        2))&nbsp;@invoice.IssuerCurrency?.Tag</small>
                        }
                    </td>
                    <td class="user-select-all">@invoice.Issuer?.Formats.Display(invoice.Published)</td>
                    <td class="user-select-all">@invoice.Status</td>
                    <td class="text-end">
                        <a class="btn btn-sm btn-outline-secondary" href="@C.Routes.InvoiceFor(invoice.Id)">@_t.Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (_create != null)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show" style="display: block;" @onclick="CancelClicked">
    <div class="modal-dialog" @onclick:stopPropagation>
        <form @onsubmit=SaveClicked>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@_t.AddTitle</h5>
                    <button type="button" class="btn-close" @onclick="CancelClicked"></button>
                </div>
                <div class="modal-body">
                    <Dropdown For=@nameof(InvoiceCreateModel.IssuerId) Label=@_t.InvoiceIssuer
                        @bind-Value=_create.IssuerId Errors=_errors Required Items=_issuersD AutoFocus />
                    <Dropdown For=@nameof(InvoiceCreateModel.ClientId) Label=@_t.InvoiceClient
                        @bind-Value=_create.ClientId Errors=_errors Required Items=_clientsD />
                    <TextBox For=@nameof(InvoiceCreateModel.Subject) Label=@_t.InvoiceSubject
                        @bind-Value=_create.Subject Errors=_errors Required />
                    <TextBox For=@nameof(InvoiceCreateModel.SequenceNumber) Label=@_t.InvoiceSequence
                        @bind-Value=_create.SequenceNumber Errors=_errors Required />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@_t.Save</button>
                    <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
}