@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Invoice)]

<h1>@_t.PageTitle @Id</h1>
@if (_edit != null)
{
    var issuer = _issuers.Single(i => i.Id == _edit.IssuerId);
    <div class=row>
    <div class=col>
        <form @onsubmit=SaveClicked>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(InvoiceEditModel.SequenceNumber) Label=@_t.InvoiceSequence @bind-Value=_edit.SequenceNumber Errors=_errors
                            Required AutoFocus />
                    </div>
                    <div class="col-8">
                        <TextBox For=@nameof(InvoiceEditModel.Subject) Label=@_t.InvoiceSubject @bind-Value=_edit.Subject Errors=_errors
                            Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.IssuerId) Label=@_t.InvoiceIssuer @bind-Value=_edit.IssuerId Errors=_errors
                            Required Items=_issuersD />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.ClientId) Label=@_t.InvoiceClient @bind-Value=_edit.ClientId Errors=_errors
                            Required Items=_clientsD />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.CurrencyId) Label=@_t.InvoiceCurrency @bind-Value=_edit.CurrencyId
                            Errors=_errors Required Items=_currenciesD />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.DisplayCurrencyId) Label=@_t.InvoiceDisplayCurrency
                            @bind-Value=_edit.DisplayCurrencyId Errors=_errors Required Items=_currenciesD />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.IssuerCurrencyId) Label=@_t.InvoiceIssuerCurrency
                            @bind-Value=_edit.IssuerCurrencyId Errors=_errors Required Items=_currenciesD />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.Status) Label=@_t.InvoiceStatus @bind-Value=_edit.Status Errors=_errors
                            Required Items=_statusesD />   
                    </div>
                    @if(!IsDraft)
                    {
                        <div class="col-8">
                            <DateTimeBox For=@nameof(InvoiceEditModel.Published) Label=@_t.InvoicePublished @bind-Value=_edit.Published 
                            Locale=@issuer?.Locale TimeZone=@issuer?.TimeZone Errors=_errors Required/>
                        </div>
                    }
                </div>
                <TextBox For=@nameof(InvoiceEditModel.Note) Label=@_t.InvoiceNote @bind-Value=_edit.Note Errors=_errors Lines=4 />
                <div class="float-end">                    
                    <button type="submit" class="btn btn-primary">@_t.Save</button>
                </div>
                @if(!IsDraft)
                {
                    <a href=@C.Routes.InvoicePrintFor(_invoice!.Id) class="btn btn-outline-secondary">@_t.Print</a>
                }
                else
                {
                    <button type="button" class="btn btn-danger" @onclick=ClockifyClicked>@_t.Clockify</button>
                }
        </form>
    </div>
    <div class=col-md-7>
        <div class=table-responsive>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">@_t.TableTitle</th>
                        <th class="text-end qty">@_t.TableQty</th>
                        <th class="text-end price">@_t.TablePrice</th>
                        <th class="text-end price">@_t.TableTotal</th>
                        <th class=d-grid>
                            <button class="btn btn-sm btn-outline-primary" disabled=@(!IsDraft) @onclick=SaveInvoiceItems>
                                @_t.Save
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _invoice!.Items!)
                        {
                            <tr>
                                <td>
                                    <input class="form-control form-control-sm" @bind=item.Title placeholder=@_t.TableTitle disabled=@(!IsDraft) />
                                </td>
                                <td class="qty">
                                    <input class="form-control form-control-sm text-end" @bind=item.Quantity @bind:culture=issuer?.Formats.Culture placeholder=@_t.TableQty disabled=@(!IsDraft) />
                                </td>
                                <td class="price">
                                    <input class="form-control form-control-sm text-end" @bind=item.Price @bind:culture=issuer?.Formats.Culture placeholder=@_t.TablePrice disabled=@(!IsDraft) />
                                </td>
                                <td class="price">
                                    <input class="form-control form-control-sm text-end" @bind=item.Total @bind:culture=issuer?.Formats.Culture placeholder=@_t.TableTotal
                                        disabled />
                                </td>
                                <td class=d-grid>
                                    <button class="btn btn-sm btn-outline-danger" disabled=@(!IsDraft) @onclick="()=>RemoveItemClicked(item)">
                                        @_t.Remove
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class=table-info>
                            <td></td>
                            <td class="text-end">@issuer?.Formats.Display(_invoice.QuantityTotal)</td>
                            <td class=text-end>@issuer?.Formats.Display(1,4)</td>
                            <td class=text-end>@issuer?.Formats.Display(_invoice.Total)</td>
                            <td class=text-end>@_invoice.Currency?.Tag</td>
                        </tr>
                        @if (_invoice.DisplayCurrencyId != _invoice.CurrencyId)
                        {
                            <tr class=table-info>
                                <td colspan=2></td>
                                <td class=text-end>@issuer?.Formats.Display(_invoice.DisplayRate,4)</td>
                                <td class=text-end>@issuer?.Formats.Display(_invoice.DisplayTotal)</td>
                                <td class=text-end>@_invoice.DisplayCurrency?.Tag</td>
                            </tr>
                        }
                        @if (_invoice.IssuerCurrencyId != _invoice.DisplayCurrencyId)
                        {
                            <tr class=table-info>
                                <td colspan=2></td>
                                <td class=text-end>@issuer?.Formats.Display(_invoice.IssuerRate,4)</td>
                                <td class=text-end>@issuer?.Formats.Display(_invoice.IssuerTotal)</td>
                                <td class=text-end>@_invoice.IssuerCurrency?.Tag</td>
                            </tr>
                        }
                        <tr class=table-primary>
                            <td>
                                <input class="form-control form-control-sm" disabled=@(!IsDraft) @bind=_item.Title placeholder=@_t.TableTitle />
                            </td>
                            <td class="qty">
                                <input class="form-control form-control-sm text-end" @bind=_item.Quantity @bind:culture=issuer?.Formats.Culture
                                    placeholder=@_t.TableQty disabled=@(!IsDraft) />
                            </td>
                            <td class="price">
                                <input class="form-control form-control-sm text-end" @bind=_item.Price @bind:culture=issuer?.Formats.Culture
                                    placeholder=@_t.TablePrice disabled=@(!IsDraft) />
                            </td>
                            <td class="price">
                                <input class="form-control form-control-sm text-end" @bind=_item.Total @bind:culture=issuer?.Formats.Culture placeholder=@_t.TableTotal
                                    disabled />
                            </td>
                            <td class=d-grid>
                                <button class="btn btn-sm btn-outline-success" disabled=@(!IsDraft) @onclick=AddItemClicked>
                                    @_t.Add
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h4>@_t.NotFound</h4>
}