@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Invoice)]

@if (_edit != null)
{
    <h1>@_t.PageTitle @Id @(Db.ChangeTracker.HasChanges() || _edit.IsDirty ? "*":string.Empty)</h1>
    <div class=row>
    <div class=col>
        <form @onsubmit=SaveClicked>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(InvoiceEditModel.SequenceNumber) Label=@_t.InvoiceSequence @bind-Value=_edit.SequenceNumber Errors=_errors
                            Required AutoFocus />
                    </div>
                    <div class="col-8">
                        <TextBox For=@nameof(InvoiceEditModel.Subject) Label=@_t.InvoiceSubject @bind-Value=_edit.Subject Errors=_errors
                            Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.IssuerId) Label=@_t.InvoiceIssuer @bind-Value=_edit.IssuerId Errors=_errors
                            Required Items=_issuersD />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.ClientId) Label=@_t.InvoiceClient @bind-Value=_edit.ClientId Errors=_errors
                            Required Items=_clientsD />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.CurrencyId) Label=@_t.InvoiceCurrency @bind-Value=_edit.CurrencyId
                            Errors=_errors Required Items=_currenciesD />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.DisplayCurrencyId) Label=@_t.InvoiceDisplayCurrency
                            @bind-Value=_edit.DisplayCurrencyId Errors=_errors Required Items=_currenciesD />
                    </div>
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.IssuerCurrencyId) Label=@_t.InvoiceIssuerCurrency
                            @bind-Value=_edit.IssuerCurrencyId Errors=_errors Required Items=_currenciesD />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(InvoiceEditModel.Status) Label=@_t.InvoiceStatus @bind-Value=_edit.Status Errors=_errors
                            Required Items=_statusesD />   
                    </div>
                    @if(!_isDraft)
                    {
                        <div class="col-8">
                            <DateTimeBox For=@nameof(InvoiceEditModel.Published) Label=@_t.InvoicePublished @bind-Value=_edit.Published 
                            Locale=@_issuer?.Locale TimeZone=@_issuer?.TimeZone Errors=_errors Required/>
                        </div>
                    }
                </div>
                <TextBox For=@nameof(InvoiceEditModel.Note) Label=@_t.InvoiceNote @bind-Value=_edit.Note Errors=_errors Lines=4 />
                <div class="d-flex justify-content-end">                    
                    @if(!_isDraft)
                    {
                        <a href=@C.Routes.InvoicePrintFor(_invoice!.Id) class="btn btn-outline-secondary ms-2">@_t.Print</a>
                    }
                    @if(!_clockifyOpen)
                    {
                        <button type="button" class="btn btn-danger ms-2" @onclick=ClockifyOpen>@_t.Clockify</button>
                    }
                    <button type="submit" class="btn btn-primary ms-2">@_t.Save</button>
                </div>
        </form>
        @if(_clockifyOpen)
        {
            <div>
                <DateTimeBox For=@nameof(_clockifyStart) Label=@_t.ClockifyStart @bind-Value=_clockifyStart
                Locale=@_issuer?.Locale TimeZone=@_issuer?.TimeZone Errors=_errors Required/>
                <DateTimeBox For=@nameof(_clockifyEnd) Label=@_t.ClockifyEnd @bind-Value=_clockifyEnd
                Locale=@_issuer?.Locale TimeZone=@_issuer?.TimeZone Errors=_errors Required/>
                @if(_clockifyItems.Any())
                {
                    <div class="mb-2">
                        <span>@_t.ClockifyItems <b>@_clockifyItems?.Count</b>,</span>
                        <span>@_t.ClockifyHours <b>@_issuer?.Formats.Display(_clockifyItems?.Sum(i => i.Quantity))</b></span>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary ms-2" @onclick=ClockifyLoad>@_t.ClockifyLoad</button>
                @if(_isDraft)
                {
                    <button type="button" class="btn btn-primary ms-2" @onclick=ClockifyAdd>@_t.Add</button>
                }
                <button type="button" class="btn btn-outline-danger ms-2" @onclick=CloseClockify>@_t.Close</button>
            </div>
        }
    </div>
    <div class=col-md-7>
        <div class=table-responsive>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">@_t.TableTitle</th>
                        <th class="text-end qty">@_t.TableQty</th>
                        <th class="text-end price">@_t.TablePrice</th>
                        <th class="text-end price">@_t.TableTotal</th>
                        <th class=d-grid>
                            <button class="btn btn-sm btn-danger" disabled=@(!_isDraft) @onclick=ClearInvoiceItems>
                                @_t.Clear
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _invoice!.Items!)
                        {
                            <tr>
                                <td>
                                    <input class="form-control form-control-sm @(item.IsValid() ? "":"is-invalid")" @bind=item.Title placeholder=@_t.TableTitle disabled=@(!_isDraft) />
                                </td>
                                <td class="qty">
                                    <input class="form-control form-control-sm text-end" @bind=item.Quantity @bind:culture=_issuer?.Formats.Culture placeholder=@_t.TableQty disabled=@(!_isDraft) @onblur=CalculateTotals />
                                </td>
                                <td class="price">
                                    <input class="form-control form-control-sm text-end" @bind=item.Price @bind:culture=_issuer?.Formats.Culture placeholder=@_t.TablePrice disabled=@(!_isDraft) @onblur=CalculateTotals />
                                </td>
                                <td class="price">
                                    <input class="form-control form-control-sm text-end" value=@_issuer?.Formats.Display(item.Total) placeholder=@_t.TableTotal disabled />
                                </td>
                                <td class=d-grid>
                                    <button class="btn btn-sm btn-outline-danger" disabled=@(!_isDraft) @onclick="()=>RemoveItemClicked(item)">
                                        @_t.Remove
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class=table-info>
                            <td></td>
                            <td class="text-end">@_issuer?.Formats.Display(_invoice.QuantityTotal)</td>
                            <td class=text-end>@_issuer?.Formats.Display(1,4)</td>
                            <td class=text-end>@_issuer?.Formats.Display(_invoice.Total)</td>
                            <td class=text-end>@_invoice.Currency?.Tag</td>
                        </tr>
                        @if (_invoice.DisplayCurrencyId != _invoice.CurrencyId)
                        {
                            <tr class=table-info>
                                <td colspan=2></td>
                                <td class=text-end>@_issuer?.Formats.Display(_invoice.DisplayRate,4)</td>
                                <td class=text-end>@_issuer?.Formats.Display(_invoice.DisplayTotal)</td>
                                <td class=text-end>@_invoice.DisplayCurrency?.Tag</td>
                            </tr>
                        }
                        @if (_invoice.IssuerCurrencyId != _invoice.DisplayCurrencyId)
                        {
                            <tr class=table-info>
                                <td colspan=2></td>
                                <td class=text-end>@_issuer?.Formats.Display(_invoice.IssuerRate,4)</td>
                                <td class=text-end>@_issuer?.Formats.Display(_invoice.IssuerTotal)</td>
                                <td class=text-end>@_invoice.IssuerCurrency?.Tag</td>
                            </tr>
                        }
                        <tr class=table-primary>
                            <td>
                                <input class="form-control form-control-sm" disabled=@(!_isDraft) @bind=_item.Title placeholder=@_t.TableTitle />
                            </td>
                            <td class="qty">
                                <input class="form-control form-control-sm text-end" @bind=_item.Quantity @bind:culture=_issuer?.Formats.Culture
                                    placeholder=@_t.TableQty disabled=@(!_isDraft) />
                            </td>
                            <td class="price">
                                <input class="form-control form-control-sm text-end" @bind=_item.Price @bind:culture=_issuer?.Formats.Culture
                                    placeholder=@_t.TablePrice disabled=@(!_isDraft) />
                            </td>
                            <td class="price">
                                <input class="form-control form-control-sm text-end" value=@_issuer?.Formats.Display(_item.Quantity*_item.Price) placeholder=@_t.TableTotal
                                    disabled />
                            </td>
                            <td class=d-grid>
                                <button class="btn btn-sm btn-outline-success" disabled=@(!_isDraft) @onclick=AddItemClicked>
                                    @_t.Add
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h4>@_t.NotFound</h4>
}