@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Invoices)]

<h1>Invoices</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td>Seq #</td>
                <td>Client</td>
                <td>Subject</td>
                <td>Total</td>
                <td>Published</td>
                <td>Note</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>Add</button>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in _list)
            {
                <tr @key=invoice.Id>
                    <td>@invoice.SequenceNumber</td>
                    <td>@invoice.Client?.Name</td>
                    <td>@invoice.Subject</td>
                    <td>
                        @invoice.Total @invoice.Currency?.Tag <br />
                        <small>@invoice.DisplayTotal (@invoice.DisplayRate) @invoice.DisplayCurrency?.Tag <br /></small>
                        <small>@invoice.IssuerTotal (@invoice.IssuerRate) @invoice.IssuerCurrency?.Tag</small>
                    </td>
                    <td>@(invoice.Published.HasValue ? invoice.Published : "-")</td>
                    <td>@invoice.Note</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" href="@C.Routes.InvoiceFor(invoice.Id)">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (_create != null)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show" style="display: block;" @onclick="CancelClicked">
        <div class="modal-dialog" @onclick:stopPropagation>
            <form @onsubmit=SaveClicked>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new invoice</h5>
                        <button type="button" class="btn-close" @onclick="CancelClicked"></button>
                    </div>
                    <div class="modal-body">
                        <Dropdown For=@nameof(InvoiceCreateModel.IssuerId) Label=Issuer @bind-Value=_create.IssuerId Errors=_errors
                            Required Items=_issuersD />
                        <Dropdown For=@nameof(InvoiceCreateModel.ClientId) Label=Client @bind-Value=_create.ClientId Errors=_errors
                            Required Items=_clientsD />
                        <TextBox For=@nameof(InvoiceCreateModel.Subject) Label=Subject @bind-Value=_create.Subject Errors=_errors
                            Required />
                        <TextBox For=@nameof(InvoiceCreateModel.SequenceNumber) Label=Sequence @bind-Value=_create.SequenceNumber Errors=_errors />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}