@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Invoice)]

<h1>Invoice @Id</h1>
@if (_edit != null)
{
    <div class=row>
    <div class=col>
        <form @onsubmit=SaveClicked>
                <TextBox For=@nameof(InvoiceEditModel.SequenceNumber) Label=Sequence @bind-Value=_edit.SequenceNumber Errors=_errors
                    Required />
                <Dropdown For=@nameof(InvoiceEditModel.IssuerId) Label=Issuer @bind-Value=_edit.IssuerId Errors=_errors
                    Required Items=_issuersD />
                <Dropdown For=@nameof(InvoiceEditModel.ClientId) Label=Client @bind-Value=_edit.ClientId Errors=_errors
                    Required Items=_clientsD />
                <TextBox For=@nameof(InvoiceEditModel.Subject) Label=Subject @bind-Value=_edit.Subject Errors=_errors
                    Required />
                <Dropdown For=@nameof(InvoiceEditModel.CurrencyId) Label="Invoice Currency" @bind-Value=_edit.CurrencyId
                    Errors=_errors Required Items=_currenciesD />
                <Dropdown For=@nameof(InvoiceEditModel.DisplayCurrencyId) Label="Display Currency"
                    @bind-Value=_edit.DisplayCurrencyId Errors=_errors Required Items=_currenciesD />
                <Dropdown For=@nameof(InvoiceEditModel.IssuerCurrencyId) Label="Issuer Currency"
                    @bind-Value=_edit.IssuerCurrencyId Errors=_errors Required Items=_currenciesD />
                <TextBox For=@nameof(InvoiceEditModel.Note) Label=Note @bind-Value=_edit.Note Errors=_errors Lines=3 />
                <Dropdown For=@nameof(InvoiceEditModel.Status) Label="Status" @bind-Value=_edit.Status Errors=_errors
                    Required Items=_statusesD />
                <div class="float-end">                    
                    <button type="submit" class="btn btn-primary">Save</button>
                    @if(_invoice!.Status != (int)Enums.InvoiceStatus.Draft)
                    {
                        <a href=@C.Routes.InvoicePrintFor(_invoice!.Id) class="btn btn-outline-secondary">Print</a>
                    }
                </div>
                <button type="button" class="btn btn-danger" @onclick=ClockifyClicked>Load clockify</button>
        </form>
    </div>
    <div class=col-md-7>
        <div class=table-responsive>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="text-center">Title</td>
                        <td class=text-end>Qty</td>
                        <td class=text-end>Price</td>
                        <td class=text-end>Total</td>
                        <td class=d-grid>
                            <button class="btn btn-sm btn-outline-primary" @onclick=SaveInvoiceItems>
                                Save
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _invoice!.Items!)
                        {
                            <tr>
                                <td>
                                    <input class="form-control form-control-sm" @bind=item.Title placeholder="Title" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm text-end" @bind=item.Quantity
                                        placeholder="Qty" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm text-end" @bind=item.Price placeholder="Price" />
                                </td>
                                <td>
                                    <input class="form-control form-control-sm text-end" @bind=item.Total placeholder="Total"
                                        disabled />
                                </td>
                                <td class=d-grid>
                                    <button class="btn btn-sm btn-outline-danger" @onclick="()=>RemoveItemClicked(item)">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class=table-info>
                            <td></td>
                            <td class="text-end">@C.Formats.AsDecimal(_invoice.QuantityTotal,2)</td>
                            <td class=text-end>@C.Formats.AsDecimal(1)</td>
                            <td class=text-end>@C.Formats.AsDecimal(_invoice.Total,2)</td>
                            <td class=text-end>@_invoice.Currency?.Tag</td>
                        </tr>
                        @if (_invoice.DisplayCurrencyId != _invoice.CurrencyId)
                        {
                            <tr class=table-info>
                                <td></td>
                                <td class="text-end"></td>
                                <td class=text-end>@C.Formats.AsDecimal(_invoice.DisplayRate)</td>
                                <td class=text-end>@C.Formats.AsDecimal(_invoice.DisplayTotal,2)</td>
                                <td class=text-end>@_invoice.DisplayCurrency?.Tag</td>
                            </tr>
                        }
                        @if (_invoice.IssuerCurrencyId != _invoice.DisplayCurrencyId)
                        {
                            <tr class=table-info>
                                <td></td>
                                <td class="text-end"></td>
                                <td class=text-end>@C.Formats.AsDecimal(_invoice.IssuerRate)</td>
                                <td class=text-end>@C.Formats.AsDecimal(_invoice.IssuerTotal,2)</td>
                                <td class=text-end>@_invoice.IssuerCurrency?.Tag</td>
                            </tr>
                        }
                        <tr class=table-primary>
                            <td>
                                <input class="form-control form-control-sm" @bind=_item.Title placeholder="Title" />
                            </td>
                            <td>
                                <input class="form-control form-control-sm text-end" @bind=_item.Quantity
                                    placeholder="Qty" />
                            </td>
                            <td>
                                <input class="form-control form-control-sm text-end" @bind=_item.Price
                                    placeholder="Price" />
                            </td>
                            <td>
                                <input class="form-control form-control-sm text-end" @bind=_item.Total placeholder="Total"
                                    disabled />
                            </td>
                            <td class=d-grid>
                                <button class="btn btn-sm btn-outline-success" @onclick=AddItemClicked>
                                    Add
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h4>Not found.</h4>
}