@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Issuers)]

<h1>@_t.PageTitle</h1>

<div class="row">
    <div class="col-lg-6 order-lg-2">
        @if (_create != null)
        {
            <legend>@_t.AddTitle</legend>
            <form @onsubmit=SaveCreateClicked>
                <TextBox For=@nameof(IssuerCreateModel.Name) Label=@_t.IssuerName @bind-Value=_create.Name Errors=_errors Required AutoFocus />
                <TextBox For=@nameof(IssuerCreateModel.IssuedByEmployee) Label=@_t.IssuerEmployee PlaceHolder=@_t.IssuerEmployeeInfo @bind-Value=_create.IssuedByEmployee Errors=_errors Required />
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(IssuerCreateModel.CurrencyId) Label=@_t.IssuerCurrency @bind-Value=_create.CurrencyId
                            Errors=_errors Required Items=_currenciesD />
                        <NumBox For=@nameof(IssuerCreateModel.Limit) Label=@_t.IssuerLimit @bind-Value=_create.Limit Errors=_errors />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(IssuerCreateModel.ContactInfo) Label=@_t.IssuerContact @bind-Value=_create.ContactInfo
                            PlaceHolder=@_t.IssuerContactInfo Errors=_errors Lines=4 Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(IssuerCreateModel.TimeZone) Label=@_t.IssuerTimeZone @bind-Value=_create.TimeZone PlaceHolder=@_t.IssuerTimeZoneInfo Errors=_errors Required />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(IssuerCreateModel.Locale) Label=@_t.IssuerLocale @bind-Value=_create.Locale PlaceHolder=@_t.IssuerLocaleInfo Errors=_errors Required />
                    </div>
                </div>
                <TextBox For=@nameof(IssuerCreateModel.ClockifyUrl) Label=@_t.IssuerClockify @bind-Value=_create.ClockifyUrl Errors=_errors />

                <button type="submit" class="btn btn-primary">@_t.Save</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else if (_edit != null)
        {
            <legend>@_t.EditTitle @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(IssuerEditModel.Name) Label=@_t.IssuerName @bind-Value=_edit.Name Errors=_errors Required AutoFocus />
                <TextBox For=@nameof(IssuerEditModel.IssuedByEmployee) Label=@_t.IssuerEmployee PlaceHolder=@_t.IssuerEmployeeInfo @bind-Value=_edit.IssuedByEmployee Errors=_errors Required />
                <div class="row">
                    <div class="col">
                        <Dropdown For=@nameof(IssuerEditModel.CurrencyId) Label=@_t.IssuerCurrency @bind-Value=_edit.CurrencyId
                            Errors=_errors Required Items=_currenciesD />
                        <NumBox For=@nameof(IssuerEditModel.Limit) Label=@_t.IssuerLimit  @bind-Value=_edit.Limit Errors=_errors />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(IssuerEditModel.ContactInfo) Label=@_t.IssuerContact @bind-Value=_edit.ContactInfo
                            PlaceHolder=@_t.IssuerContactInfo Errors=_errors Lines=4 Required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <TextBox For=@nameof(IssuerEditModel.TimeZone) Label=@_t.IssuerTimeZone @bind-Value=_edit.TimeZone PlaceHolder=@_t.IssuerTimeZoneInfo Errors=_errors Required />
                    </div>
                    <div class="col">
                        <TextBox For=@nameof(IssuerEditModel.Locale) Label=@_t.IssuerLocale @bind-Value=_edit.Locale PlaceHolder=@_t.IssuerLocaleInfo Errors=_errors Required />
                    </div>
                </div>
                <TextBox For=@nameof(IssuerEditModel.ClockifyUrl) Label=@_t.IssuerClockify @bind-Value=_edit.ClockifyUrl Errors=_errors />

                <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">@_t.Info</div>
        }
    </div>

    <div class="col-lg-6 order-lg-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@_t.TableName</th>
                        <th>@_t.TableContact</th>
                        <th>@_t.TableCurrency</th>
                        <th class="text-end">
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>@_t.Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issuer in _list)
                    {
                        <tr @key=issuer.Id>
                            <td class="user-select-all">@issuer.Name</td>
                            <td class="user-select-all">@issuer.ContactInfo</td>
                            <td class="user-select-all">@issuer.Currency?.Tag</td>
                            <td class="text-end">
                                <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(issuer)">@_t.Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>