@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Transactions)]

<h1>Transactions</h1>

<div class="row">
    <div class="col-9">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Note</th>
                        <th>
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        static string RowClass(decimal amount) => amount > 0 ? "table-success" : "table-danger";
                        foreach (var transaction in _list)
                        {
                            <tr @key=transaction.Id class=@RowClass(transaction.Amount)>
                                <td>@transaction.Category?.Name</td>
                                <td>@transaction.Account?.Name</td>
                                <td>
                                    @C.Formats.AsDecimal(transaction.Amount,2)&nbsp;@transaction.Account?.Currency?.Tag <br>
                                    <small>@C.Formats.AsDecimal(transaction.IssuerAmount,2)&nbsp;(@C.Formats.AsDecimal(transaction.IssuerRate))&nbsp;@transaction.Account?.Issuer?.Currency?.Tag</small>                            
                                </td>
                                <td>@transaction.Date</td>
                                <td>@transaction.Note</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary"
                                        @onclick="()=>EditClicked(transaction)">Edit</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        @if (_create != null)
        {
            <legend>Add Transaction</legend>
            <form @onsubmit=SaveCreateClicked>
                <Dropdown For=@nameof(TransactionCreateModel.AccountId) Label="Account"
                    @bind-Value=_create.AccountId Errors=_errors Required Items=_accountsD />
                <Dropdown For=@nameof(TransactionCreateModel.CategoryId) Label="Category"
                    @bind-Value=_create.CategoryId Errors=_errors Required Items=_categoriesD />
                <NumBox For=@nameof(TransactionCreateModel.Amount) Label=Amount @bind-Value=_create.Amount Errors=_errors Required />
                <DateTimeBox For=@nameof(TransactionCreateModel.Date) Label=Date @bind-Value=_create.Date Errors=_errors Required />
                <TextBox For=@nameof(TransactionCreateModel.Note) Label="Note" @bind-Value=_create.Note
                    Errors=_errors Lines=3 Required />

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else if (_edit != null)
        {
            <legend>Edit Transaction @_edit.Id</legend>
            <form @onsubmit=SaveEditClicked>
                <Dropdown For=@nameof(TransactionEditModel.AccountId) Label="Account"
                    @bind-Value=_edit.AccountId Errors=_errors Required Items=_accountsD />
                <Dropdown For=@nameof(TransactionCreateModel.CategoryId) Label="Category"
                    @bind-Value=_edit.CategoryId Errors=_errors Required Items=_categoriesD />
                <NumBox For=@nameof(TransactionEditModel.Amount) Label=Amount @bind-Value=_edit.Amount Errors=_errors Required />
                <DateTimeBox For=@nameof(TransactionEditModel.Date) Label=Date @bind-Value=_edit.Date Errors=_errors Required />
                <TextBox For=@nameof(TransactionEditModel.Note) Label="Contact Info" @bind-Value=_edit.Note
                    Errors=_errors Lines=3 Required />

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">Select Transaction to edit or add.</div>

            <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#categories">
            Edit Categories
            </button>
        }
    </div>
</div>

<!-- Categories Modal -->
<div class="modal fade" id="categories" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Transaction categories</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <tbody>
                    @foreach (var category in _categories)
                    {
                        <tr>
                            <td>
                                <input class="form-control form-control-sm" @bind=category.Name placeholder="Name" />
                            </td>
                            <td class=d-grid>
                                <button class="btn btn-sm btn-outline-danger" @onclick="()=>RemoveCategory(category)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" @bind=_newCategory placeholder="Name" />
                        </td>
                        <td class=d-grid>
                            <button class="btn btn-sm btn-outline-success" @onclick=AddCategory>
                                Add
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @onclick=SaveCategories>Save changes</button>
        </div>
        </div>
    </div>
</div>
