@using QueryParams
@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Transactions)]

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>@_t.PageTitle</h1>
    <div>
        <QuerySearch AutoFocus OnChange=Search />
        <QueryStepper @ref=StepperYear QueryPart=@QUERY_YEAR DefaultValue=_defaultYear OnChange=ChangeYear />
        <QueryStepper InactiveText=@_t.Month QueryPart=@QUERY_MONTH DefaultValue=_defaultMonth OnChange=ChangeMonth
            Min=1 Max=12 Overflow OnOverflow=YearOverflow />
    </div>
</div>

<div class="row">
    <div class="col-lg-3 order-lg-2 mt-2">
        @if (_create != null)
        {
            <legend>@_t.AddTitle</legend>
            <form @onsubmit=SaveCreateClicked>
                <Dropdown For=@nameof(TransactionCreateModel.AccountId) Label=@_t.TransactionAccount AutoFocus
                @bind-Value=_create.AccountId Errors=_errors Required Items=_accountsD />
                <Dropdown For=@nameof(TransactionCreateModel.CategoryId) Label=@_t.TransactiontCategory
                @bind-Value=_create.CategoryId Errors=_errors Required Items=_categoriesD />
                <NumBox For=@nameof(TransactionCreateModel.Amount) Label=@_t.TransactionAmount @bind-Value=_create.Amount
                Errors=_errors Required />
                <DateTimeBox For=@nameof(TransactionCreateModel.Date) Label=@_t.TransactionDate @bind-Value=_create.Date
                Errors=_errors Required />
                <TextBox For=@nameof(TransactionCreateModel.Note) Label=@_t.TransactionNote @bind-Value=_create.Note
                Errors=_errors Lines=3 Required />

                <button type="submit" class="btn btn-primary">@_t.Save</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else if (_edit != null)
        {
            <legend>@_t.EditTitle @_edit.Id</legend>
            <form @onsubmit=SaveEditClicked>
                <Dropdown For=@nameof(TransactionEditModel.AccountId) Label=@_t.TransactionAccount AutoFocus
                @bind-Value=_edit.AccountId Errors=_errors Required Items=_accountsD />
                <Dropdown For=@nameof(TransactionCreateModel.CategoryId) Label=@_t.TransactiontCategory
                @bind-Value=_edit.CategoryId Errors=_errors Required Items=_categoriesD />
                <NumBox For=@nameof(TransactionEditModel.Amount) Label=@_t.TransactionAmount @bind-Value=_edit.Amount
                Errors=_errors Required />
                <DateTimeBox For=@nameof(TransactionEditModel.Date) Label=@_t.TransactionDate @bind-Value=_edit.Date
                Errors=_errors Required />
                <TextBox For=@nameof(TransactionEditModel.Note) Label=@_t.TransactionNote @bind-Value=_edit.Note
                Errors=_errors Lines=3 Required />

                <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>@_t.Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">@_t.Info</div>

            <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal"
            data-bs-target="#categories">
            @_t.EditCategories
        </button>
        }
    </div>

    <div class="col-lg-9 order-lg-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <Orderable Column=@TransactionCol.Category Display=@_t.TableCategory Params=_params
                            OnChange=RefreshList />
                        <Orderable Column=@TransactionCol.Account Display=@_t.TableAccount Params=_params
                            OnChange=RefreshList />
                        <Orderable Column=@TransactionCol.Amount Display=@_t.TableAmount Params=_params
                            OnChange=RefreshList />
                        <Orderable Column=@TransactionCol.Date Display=@_t.TableDate Params=_params
                            OnChange=RefreshList />
                        <Orderable Column=@TransactionCol.Note Display=@_t.TableNote Params=_params
                            OnChange=RefreshList />
                        <th class="text-end">
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>@_t.Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        static string RowClass(decimal amount) => amount > 0 ? "table-success" : "table-danger";
                        foreach (var transaction in _list)
                        {
                            var issuer = transaction.Account?.Issuer;
                            <tr @key=transaction.Id class=@RowClass(transaction.Amount)>
                                <td class="user-select-all">@transaction.Category?.Name</td>
                                <td class="user-select-all">@transaction.Account?.Name</td>
                                <td class="user-select-all">
                                    @issuer?.Formats.Display(transaction.Amount)&nbsp;@transaction.Account?.Currency?.Tag <br>
                                    @if (transaction.Amount != transaction.IssuerAmount)
                                    {
                                        <small>@issuer?.Formats.Display(transaction.IssuerAmount)&nbsp;(@issuer?.Formats.Display(transaction.IssuerRate,4))&nbsp;@issuer?.Currency?.Tag</small>
                                    }
                                </td>
                                <td class="user-select-all">@issuer?.Formats.Display(transaction.Date)</td>
                                <td class="user-select-all">@transaction.Note</td>
                                <td class="text-end">
                                    <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(transaction)">@_t.Edit</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Categories Modal -->
<div class="modal fade" id="categories" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_t.CategoriesTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        @foreach (var category in Categories)
                        {
                            <tr>
                                <td>
                                    <input class="form-control form-control-sm" @bind=category.Name
                                    placeholder=@_t.CategoryName />
                                </td>
                                <td class=d-grid>
                                    <button class="btn btn-sm btn-outline-danger" @onclick="()=>RemoveCategory(category)">
                                        @_t.Remove
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <input class="form-control form-control-sm" @bind=_newCategory
                                    placeholder=@_t.CategoryName />
                            </td>
                            <td class=d-grid>
                                <button class="btn btn-sm btn-outline-success" @onclick=AddCategory>
                                    @_t.Add
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_t.Cancel</button>
                <button type="button" class="btn btn-primary" @onclick=SaveCategories>@_t.SaveChanges</button>
            </div>
        </div>
    </div>
</div>
