@using System.Globalization;

<div class="mb-3">
    <label for="@For" class="form-label">@Label @(Required ? "*":"")</label>
    <div class="input-group @_errorClass">
        <input type="datetime" class="form-control @_errorClass" id="@For" placeholder=@PlaceHolder
            @bind=_local @onblur=Update @bind:culture=_ci required=@Required>
        <button class="btn btn-outline-secondary" title="Today" type="button" @onclick=Today>📆</button>
        <button class="btn btn-outline-danger" title="Clear" type="button" @onclick=Clear>⨉</button>
    </div>
    @if (_isError)
    {
        <div class="invalid-feedback">
            @Errors![For]
        </div>
    }
</div>

@code{
    const string DEFAULT_LOCALE = "hr-HR";
    const string DEFAULT_TZ = "Europe/Zagreb";
    private bool _isError => Errors != null && Errors.ContainsKey(For);
    private string _errorClass => _isError ? "is-invalid" : string.Empty;
    CultureInfo _ci = null!;
    TimeZoneInfo _tz = null!;
    DateTime? _local;
    [Parameter] public string For { get; set; } = null!;
    [Parameter] public string Label { get; set; } = null!;
    [Parameter] public DateTimeOffset? Value { get; set; }
    [Parameter] public EventCallback<DateTimeOffset?> ValueChanged { get; set; }
    [Parameter] public bool Required { get; set; }
    [Parameter] public string? PlaceHolder { get; set; }
    [Parameter] public string? Locale { get; set; }
    [Parameter] public string? TimeZone { get; set; }
    [Parameter] public Dictionary<string, string>? Errors { get; set; }
    protected override void OnInitialized()
    {
        try { _ci = CultureInfo.GetCultureInfo(Locale ?? DEFAULT_LOCALE); }
        catch (Exception) { _ci = CultureInfo.GetCultureInfo(DEFAULT_LOCALE); }
        try { _tz = TimeZoneInfo.FindSystemTimeZoneById(TimeZone ?? DEFAULT_TZ); }
        catch (Exception) { _tz = TimeZoneInfo.FindSystemTimeZoneById(DEFAULT_TZ); }

        if (Value.HasValue)
            _local = TimeZoneInfo.ConvertTimeFromUtc(Value.Value.UtcDateTime,_tz);
    }
    
    private async Task Update()
    {
        if (_isError)
            Errors!.Remove(For);

        if (!ValueChanged.HasDelegate)
            return;

        if (!_local.HasValue)
            await ValueChanged.InvokeAsync(null);
        else
        {
            var offset = _tz.GetUtcOffset(_local.Value);
            var dto = new DateTimeOffset(_local.Value, offset);
            await ValueChanged.InvokeAsync(dto);
        }
    }
    private async Task Clear()
    {
        _local = null;
        await Update();
    } 
    private async Task Today() 
    {
        _local = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, _tz);
        await Update();
    } 
}