@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.InvoicePrint)]
@layout PrintLayout

@if (_invoice == null)
{
    <h4>Not found.</h4>
}
else
{
    <div class="row justify-content-between">
    <div class="col">
        <h4>@_t?.Invoice @_invoice.SequenceNumber</h4>
        <p>
            @_t?.Issued: @_invoice.Client?.Formats.Display(_invoice.Published, true, true) <br>
            @_t?.IssuedByEmployee: @_invoice.Issuer?.IssuedByEmployee
        </p>
    </div>
    <div class="col">
        <h4>&nbsp;</h4>
        <p>
            @_t?.Delivered: @_invoice.Client?.Formats.Display(_invoice.Published, false, false) <br>
            @_t?.DueBy: @_invoice.Client?.Formats.Display(_invoice.Published?.AddDays((double)_invoice.Client.DueInDays), false, false)
        </p>
    </div>
    <div class="col-auto">
        <img class=float-right src="images/logo.svg">
    </div>
</div>
    <div class="row mt-4">
    <div class="col">
        <h5 class="border-bottom">@_t?.IssuedTo</h5>
        <h6>@_invoice.Client?.Name</h6>
        <p class="multiline">@_invoice.Client?.ContactInfo</p>
    </div>
    <div class="col">
        <h5 class="border-bottom">@_t?.IssuedByIssuer</h5>
        <h6>@_invoice.Issuer?.Name</h6>
        <p class="multiline">@_invoice.Issuer?.ContactInfo</p>
    </div>
    <div class="col-auto">
        <h5 class="border-bottom">@_t?.PaymentDetails</h5>
        <p class=multiline>@_invoice.Account?.Info</p>
    </div>
</div>
    <h4 class="text-center mt-2">@_invoice.Subject</h4>
    <table class="table table-print mt-3">
    <thead>
        <tr>
            <td>@_t?.No</td>
            <td>@_t?.Description</td>
            <td class="text-end">@_t?.Cost</td>
            <td class="text-end">@_t?.Quantity</td>
            <td class="text-end">@_t?.Amount</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < _invoice?.Items!.Count; i++)
        {
            var item = _invoice?.Items!.ElementAt(i);
            <tr>
                <td>@(i + 1).</td>
                <td>@item!.Title</td>
                <td class="text-end">@C.Formats.AsDecimal(item!.Price,2)</td>
                <td class="text-end">@C.Formats.AsDecimal(item!.Quantity,2)</td>
                <td class="text-end">@C.Formats.AsDecimal(item!.Total,2)</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row mt-4">
    <div class="col"></div>
    <div class="col-5">
        <table class="table table-print">
            <thead>
                <tr>
                    <td class="text-center">@_t?.Currency</td>
                    <td class="text-end">@_t?.Rate</td>
                    <td class="text-end">@_t?.Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">@_invoice!.Currency?.Tag</td>
                    <td class="text-end">@C.Formats.AsDecimal(1)</td>
                    <td class="text-end">@C.Formats.AsDecimal(_invoice.Total,2)</td>
                </tr>
                @if (_invoice.DisplayCurrencyId != _invoice.CurrencyId)
                    {
                        <tr>
                            <td class="text-center">@_invoice.DisplayCurrency?.Tag</td>
                            <td class="text-end">@C.Formats.AsDecimal(_invoice.DisplayRate)</td>
                            <td class="text-end">@C.Formats.AsDecimal(_invoice.DisplayTotal,2)</td>
                        </tr>
                    }
                    @if (_invoice.IssuerCurrencyId != _invoice.DisplayCurrencyId)
                    {
                        <tr>
                            <td class="text-center">@_invoice.IssuerCurrency?.Tag</td>
                            <td class="text-end">@C.Formats.AsDecimal(_invoice.IssuerRate)</td>
                            <td class="text-end">@C.Formats.AsDecimal(_invoice.IssuerTotal,2)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class=multiline><b>@_t?.Note: </b>@_invoice.Note</div>
}